.App {
  text-align: center;
}


.small-btn {
  background-color: #F2B95A;
  border-radius: 20px;
  padding: 6px 22px;
  border: none;
  text-align: center;
  /*text-decoration: none;*/
  /*display: inline-block;*/
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}