.dashboard {
  display: flex;
  flex-direction: row;
}

.weekHabitsContainer {
  max-width: 75%;
  width: 75%;
  display: flex;
  margin: 10% 0 0 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #00303F;
}

.timePole {
  position: absolute;
  text-align: left;
  min-height: 1000px;
  max-height: 1000px;
  width: 67vw;
  padding: 40px 50px 0 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.time {
  border-bottom: #fff 1px solid;
  font-size: 12px;
  margin: 20px 0;
}

.weekday {
  width: 12%;
  min-height: 1000px;
  max-height: 1000px;
  background: linear-gradient(#F0EFEB, #ffffff);
  margin: 0 .1%;
  padding: 15px 0;
  border-radius: 10px 10px 0 0;
}

.habitModule {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 8.8%;
  border-radius: 5px;
  margin-left: 2px;
  background: white;
  box-shadow: 0 0 4px #c9c9c9;
  color: #00303F;
  font-size: 16px;
  font-weight: 500;
  word-wrap: break-word;
}

.habitModule h3 {
  margin: 15px 5px;
  padding: 0;
  word-wrap: break-word;
}

.habitModule .eraseBtn {
  position: absolute;
  align-self: flex-start;
  padding: 3% 0 0 80%;
  background: transparent;
  border: none;
}

.habitModule .eraseBtn p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #b6b6b6;
}

.goalModule .eraseBtn {
  position: relative;
  align-self: flex-start;
  justify-content: flex-end;
  padding: 0;
  background: transparent;
  border: none;
}

.goalModule .eraseBtn p {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.weekGoalsContainer {
  width: 20%;
  height: 1000px;
  min-height: 1000px;
  margin: 10% 0 0 0;
  padding: 20px 0;
  background: linear-gradient(#F2B95A, #ffffff);
  border-radius: 10px 10px 0 0;
}

.goalModule {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80px;
  margin: 10px;
  padding: 5px;
  background-color: #ffffffb2;
  border-radius: 5px;
}

.goalMain {
  display: flex;
  justify-content: space-between;
}

.goalAmount {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.incrementBtn {
  position: relative;
  align-self: flex-start;
  justify-content: flex-end;
  padding: 0;
  background: transparent;
  border: none;
}
  
.progressBar {
  min-height: 20px;
  max-height: 20px;
  background-repeat: no-repeat;
  border-radius: 20px;
  color: #ff9898;
}