.dashboard {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  max-height: 100%;
  background-image: linear-gradient(#F0EFEB, #ffffff);
}

button {
  cursor: pointer;
  outline: none;
}

.weekHabitsSection {
  position: relative;
  width: 70%;
  margin: 7% 0 0 0;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.routineTopDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5% 0 0 5%;
  width: 95%;
}

.todaysDate {
  margin: 0;
  padding: 0;
}

.createRoutineBtn {
  position: relative;
  padding: 6px;
  color: white;
  font-size: 14px;
  background-color: #00303F;
  border: none;
  border-radius: 20em;
  width: 140px;
  height: 40px;
  z-index: 10;
}

.weekHabitsContainer {
  position: relative;
  min-height: 100%;
  margin: 100px 0 0 0;
  border-radius: 10px;
  color: #00303F;
  overflow-y: scroll;
  overflow-x: hidden;
}

#home {
  background-color: #7a9d96;
}

#work {
  background-color: #e6b6a9;
}

#exercise {
  background-color: #e6b6a9;
}

#leisure {
  background-color: #ffcf90;
}

#education {
  background-color: #a2b08d;
}

#other {
  background-color: #cae4db;
}

.weekHabits {
  position: absolute;
  width: 95%;
  min-height: 1500px;
  max-height: 1500px;
  margin-top: -30px;
  padding: 0 0 30% 5%;
  display: flex;
}

.routineBackground {
  position: fixed;
  background-image: linear-gradient(white 1%, white 99%);
  height: 100%;
  width: 66.5%;
  margin-left: 3.5%;
  box-shadow: 0 0 9px #c4c4c4;
}

.timePole {
  position: absolute;
  text-align: left;
  min-height: 1500px;
  max-height: 1500px;
  width: 100%;
  padding-left: 1%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  z-index: 10;
  overflow-x: hidden;
}

.time {
  border-bottom: #d6f5eb 1px solid;
  min-height: 16px;
  max-height: 16px;
  font-size: 12px;
  margin: 20px 0;
}

.weekday {
  width: 100%;
  min-height: 1500px;
  max-height: 1500px;
  display: flex;
  justify-content: center;
  border: #d6f5eb .5px solid;
  border-bottom: none;
}

#Sunday {
  border-right: none;
}

.weekdayName {
  position: fixed;
  background-color: #CAE4DB;
  width: 9.4%;
  margin-top: -25px;
  padding: 15px 0 20px 0;
  border-radius: 10px 10px 0 0;
  color: #00303F;
  z-index: 20;
}

.habitModule {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 13.4%;
  border-radius: 5px;
  box-shadow: 0 0 5px #949494;
  color: #00303F;
  word-wrap: break-word;
  z-index: 15;
  overflow: hidden;
}

.habitModule h3 {
  margin: 15px 5px;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  word-wrap: break-word;
}

.habitModule .eraseBtn {
  position: absolute;
  align-self: flex-start;
  padding: 3% 0 0 80%;
  background: transparent;
  border: none;
}

.habitModule .eraseBtn p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #b6b6b6;
}

.sideBar {
  position: relative;
  height: 100%;
  min-height: 1000px;
  padding: 20px;
  margin: 0 3% 0 0;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e0f5ed;
  border-radius: 20px;
  box-shadow: 0 0 9px #c4c4c4;
  overflow-y: scroll;
}

.sideBarScrollContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100%;
  padding-bottom: 40%;
  position: absolute;
}

.sideBar .borderBottomSpan {
  width: 75%;
  border-bottom: 1px solid #7A9D96;
}

.sideBar h2 {
  color: #00303F;
}

.profile {
  width: 100%;
  padding: 20px 0;
  margin: 20px;
}

.weekGoalsContainer h2 {
  color: #DCAE1D;
}

.weekGoalsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 60vh;
  padding-bottom: 20px;
}

.goalModule {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80px;
  width: 80%;
  margin: 10px;
  padding: 15px;
  background-color: #ffffffce;
  border-radius: 10px;
  box-shadow: 0 0 9px #c4c4c4;
}

.goalModule input[type="checkbox"] {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid #7A9D96;
  margin: 6px;
  padding: 2px;
  cursor: pointer;
}

.goalModule input[type="checkbox"]:checked {
  background-color: #7A9D96;
}

.goalModule .eraseBtn {
  position: relative;
  align-self: flex-start;
  justify-content: flex-end;
  padding: 0;
  background: transparent;
  border: none;
}

.goalModule .eraseBtn p {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.createGoalBtn {
  position: relative;
  padding: 6px;
  margin: 20px 0;
  color: white;
  font-size: 14px;
  background-color: #DCAE1D;
  border: none;
  border-radius: 20em;
  width: 140px;
  height: 40px;
  justify-self: flex-end;
  z-index: 10;
}

.goalMain {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.goalAmount {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.incrementBtn {
  position: relative;
  align-self: flex-start;
  justify-content: flex-end;
  padding: 0;
  background: transparent;
  border: none;
}

.goalProgressContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.progressBar {
  min-height: 30px;
  max-height: 30px;
  width: 100%;
  background-repeat: no-repeat;
  border-radius: 20px;
  background-image: linear-gradient(45deg, #e0c772, #DCAE1D );
  border: .5px solid #DCAE1D ;
  margin: 25px 1vw;
  transition: .5s;
}
