.dayHabitsContainer .timePole {
    position: absolute;
    text-align: left;
    min-height: 1000px;
    max-height: 1000px;
    width: 100%;
    padding: 40px 50px 0 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.dayHabitsContainer .weekday {
    width: 100%;
    min-height: 1000px;
    max-height: 1000px;
    background: linear-gradient(#F0EFEB, #ffffff);
    margin: 0 auto;
    padding: 15px 0;
    border-radius: 10px 10px 0 0;
}

.dayHabitsContainer {
    padding: 15px;
}

.dayHabitsContainer .habitModule {
    left: 25%;
    width: 50%;
}

.dayHabitsContainer .timePole {
    padding: 40px 50px 0 5px;
}