.landingPage {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 50%, rgba(202, 228, 219, 1) 50%);
  min-height: 100vh;
  overflow: hidden;
}

.welcomeMessage > h1 {
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 5vh;
}

.qutine {
  color: #DCAE1D;
}

.welcomeMessage > p {
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 20px;
  color: #DCAE1D;
}

.welcomeMessage {
  overflow: hidden;
  background: #7A9D96;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: left;
  max-width: 40vh;
  margin: 5vh 5vh 0vh 10vh;
}

.landingPageButtonsContainer {
  display: flex;
  width: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.landingPageButtons {
  width: 12vh;
  padding: 15px;
  background-color: white;
  border: none;
  border-radius: 20em;
  box-shadow: 0 0 4px #dfdfdf;
  color: #00303F;
  font-size: large;
  text-decoration: none;
  margin-top: 3vh;
}

.registerButton {
  font-weight: 500;
  background-color: #DCAE1D;
  margin-left: 10vh;
}

.logInButton {
  margin-left: 3vh;
}

@media (max-width: 500px) {

  .welcomeMessage {
    margin: 2% 2%;
    padding: 0;
  }

  .welcomeMessage > h1 {
    font-size: 5vh;
  }

  .landingPageButton {
    width: 200px;
  }
}

.blob {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 10%;
  bottom: 9.26%;
  width: 60vh;
  height: auto;
  border-radius: 0px;
}

.pic {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 3%;
  bottom: 0%;
  width: 50vh;
  height: auto;
}

.landingTutorial {
  color: #7A9D96;
  font-size: x-large;
}

.landingTutorial > div > img {
  padding: 0vh 2vh 2vh 0vh;
  width: 10vh;
  height: auto;
}

.signupIcon {
  top: 55%;
  left: 5%;
  display: flex;
  position: absolute;
  flex-direction: row;
}

.calendarIcon {
  top: 65%;
  right: 5%;
  display: flex;
  position: absolute;
  flex-direction: row;
}

.notificationIcon {
  top: 75%;
  left: 5%;
  display: flex;
  position: absolute;
  flex-direction: row;
}

.checkedIcon {
  top: 85%;
  right: 5%;
  display: flex;
  position: absolute;
  flex-direction: row;
}

