.navBar {
  background-color: #CAE4DB;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
}

.navBar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.linkList {
  list-style: none;
  margin: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.navBar > ul > li {
  margin: 0;
  text-decoration: none;
  float: left;
  color: #00303F;
}

.navLink {
  text-decoration: none;
  color: #00303F;
  font-size: larger;
  font-weight: bold;
}