.navBar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  margin-top: 10px;
}

.navBar ul {
  position: relative;
  list-style: none;
  width: 100%;
  padding: 0;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.linkList {
  list-style: none;
  margin: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.navBar > ul > li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #00303F;
}

.navLink {
  margin: 0;
  text-decoration: none;
  color: #00303F;
  font-size: larger;
  font-weight: bold;
}

.logo {
  position: absolute;
  width: 60px;
}

.small-btn {
  padding: 6px;
  margin: 0;
  color: #00303F;
  font-size: 14px;
  background-color: #CAE4DB;
  border: none;
  border-radius: 20em;
  width: 100px;
  height: 40px;
}
