.navBar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
  width: 50%;
  margin-left: 50%;
  left: -20px;
}

.navBar ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.linkList {
  list-style: none;
  margin: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.navBar > ul > li {
  margin: 0;
  text-decoration: none;
  color: #00303F;
  padding: 5vh;
}

.navLink {
  text-decoration: none;
  color: #00303F;
  font-size: larger;
  font-weight: bold;
}

.logo {
  width: 40px;
}

.small-btn {
  padding: 6px;
  color: white;
  font-size: 14px;
  background-color: #DCAE1D;
  border: none;
  border-radius: 20em;
  width: 100px;
  height: 40px;
}
